<!DOCTYPE html>
<html>

<head>

<title>Book Ticket</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<header>
<h1>Book Metro Ticket</h1>
</header>

<div class="container">

<h2>Book Ticket</h2>

<select id="from"></select>

<select id="to"></select>

<input type="date" id="date">

<p id="fareDisplay"></p>

<button onclick="bookTicket()">Book Ticket</button>

<br><br>

<button onclick="viewTickets()">My Tickets</button>

</div>

<script>

let passenger_id = localStorage.getItem("passenger_id")

if(!passenger_id){

alert("Please login first")

window.location.href="/login-page"

}

fetch("/stations")

.then(res=>res.json())

.then(stations=>{

let from=document.getElementById("from")
let to=document.getElementById("to")

stations.forEach(station=>{

let option1=document.createElement("option")
option1.value=station.station_id
option1.text=station.station_name

let option2=document.createElement("option")
option2.value=station.station_id
option2.text=station.station_name

from.add(option1)
to.add(option2)

})

})

function calculateFare(){

let from=document.getElementById("from").value
let to=document.getElementById("to").value

if(from && to){

let fare=Math.abs(from-to)*10

document.getElementById("fareDisplay").innerText="Estimated Fare: ₹"+fare

}

}

document.getElementById("from").addEventListener("change",calculateFare)
document.getElementById("to").addEventListener("change",calculateFare)

function bookTicket(){

fetch("/book-ticket",{

method:"POST",

headers:{
"Content-Type":"application/json"
},

body:JSON.stringify({

passenger_id:passenger_id,
from_station:document.getElementById("from").value,
to_station:document.getElementById("to").value,
travel_date:document.getElementById("date").value

})

})

.then(res=>res.json())

.then(data=>{

if(data.ticket_id){

window.location.href="/ticket/"+data.ticket_id

}

else{

alert(data.message)

}

})

}

function viewTickets(){

window.location.href="/my-tickets/"+passenger_id

}

</script>

</body>

</html>