<!DOCTYPE html>
<html>

<head>

<title>Your Ticket</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<header>
<h1>Kochi Metro Ticket</h1>
</header>

<div class="ticket">

<h2>Ticket Confirmed</h2>

<div class="ticket-row">
<span class="ticket-label">Ticket ID</span>
<span class="ticket-value">{{ticket.ticket_id}}</span>
</div>

<div class="ticket-row">
<span class="ticket-label">From</span>
<span class="ticket-value">{{ticket.from_station}}</span>
</div>

<div class="ticket-row">
<span class="ticket-label">To</span>
<span class="ticket-value">{{ticket.to_station}}</span>
</div>

<div class="ticket-row">
<span class="ticket-label">Travel Date</span>
<span class="ticket-value">{{ticket.travel_date}}</span>
</div>

<div class="ticket-row">
<span class="ticket-label">Fare</span>
<span class="ticket-value">₹{{ticket.fare}}</span>
</div>

<div style="text-align:center;margin-top:20px;">
<img src="/{{qr}}" width="150">
<p>Scan at Metro Gate</p>
</div>

</div>

</body>

</html>